<div class="grid-container">
  <div class="nav">
    <%=project.name%>
    <button data-action='save'>Save</button>
  </div>
  <div class="footer"></div>
  <div class="content">
    <div class="tree">
    <% function renderDirectory(dir, base='') { %>
      <ul>
        <%dir.children.forEach((child) => {%>
          <%const isDirectory = child.type === 'directory';%>
          <% if (isDirectory) { %>
            <li class="directory">
          <% } else { %>
            <li data-source-path="<%=base%><%=child.name%>">
          <% } %>
            <%=child.name%>
            <% if (isDirectory) { %>
              <%-renderDirectory(child, `${base}${child.name}/`)-%>
            <% } %>
          </li>
        <%})%>
      </ul>
    <% } %>
    <ul style="padding: 0">
      <li class="directory">
        <%=project.name%>
        <%-renderDirectory(project)-%>
      </li>
    </ul>
    </div>
    <div id="content_seperator"></div>
    <div class="code_pane">
      <div class="code_tabs">
        <ul id='tabs'>
          <li>example1.py</li>
          <li>example2.py</li>
          <li class="active">Example.java</li>
          <li>example3.py</li>
          <li>example4.py</li>
          <li>example5.py</li>
          <li>example6.py</li>
          <li>example7.py</li>
          <li>example8.py</li>
          <li>example9.py</li>
        </ul>
      </div>
      <div class="code"><div id="editor"></div></div>
      <div id="code_pane_seperator"></div>
      <div class="output"></div>
    </div>
  </div>
</div>
<script type="text/javascript">new IDE("<%=project.name%>");</script>
